html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Mono", monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  background-image: url("/images/texture9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ril__outer {
  background-color: #f2f1f0 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #cbbba0 !important;
}

.navbar-nav {
  font-size: 1.5em;
}
