html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Mono", monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  background-image: url("/images/texture9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: none;
}
main {
  height: 100vh;
}

* {
  box-sizing: border-box;
}
.ril__outer {
  background-color: #f2f1f0 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #968464 !important;
}

.navbar-nav {
  font-size: 1.5em;
}
.card {
  background-color: transparent !important;
  border: none !important;
}
.card-title {
  font-weight: 900;
}
.card-text {
  font-size: 1.1em;
  font-weight: bolder;
}

.swal2-styled.swal2-confirm {
  background-color: #cbbba0 !important;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}
/* @media screen and (min-width: 992px){
  .modal-dialog {
    max-width: 750px;
  } 
} */
