.my_container {
  width: 80vw;
  background-color: #f2f1f0;
}

.active::after {
  content: "";
  display: block;
  background-color: black;
  height: 1px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}
