.my_container {
  /*   background-color: rgba(255, 255, 255, 0.3);
 */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.my_container2 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100vh;

}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active::after {
  content: "";
  display: block;
  background-color: black;
  height: 1px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}
.bg_card {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.my_card_image {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover;
}
.my_card_image2 {
  height: 300px !important;
  object-fit: cover;
}
.my_card:hover img {
  filter: opacity(0.8);
  cursor: pointer;
}
.my_card i {
  display: none;
}
.my_card:hover i {
  display: block;
  color: white;
  cursor: pointer;
}
.my_footer {
  height: 40px;
  font-size: 0.9em;
}
.my_slide {
  object-fit: cover;
  height: 570px;
  border-right: solid 8px white;
  cursor: pointer;
}
.my_slide2 {
  object-fit: cover;
  height: 500px;
}
.my_font {
  font-family: "Homemade Apple", cursive;
  color: grey;
  opacity: 0.3;
}
.my_link {
  cursor: pointer;
}
.my_bg {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 992px) {
  .my_container2 {
    height: calc(100vh - 60px);
  }
  .aboutme {
    margin-left: -100px;
    margin-top: 200px;
  }
}