.my_container {
  background-color: #f2f1f0;
}

.active::after {
  content: "";
  display: block;
  background-color: black;
  height: 1px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}
.my_card {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover;
}

/*@media screen and (min-width: 1382px) {
  .my_container {
    width: 70vw;
    background-color: #f2f1f0;
  }
}*/
